@using System.Collections.Generic
@using Microsoft.AspNetCore.Mvc.Rendering
@model IEnumerable<Category>

<p>
    <a onclick="createEditCategory()">Create new</a>
</p>
<div class="col-md-6">
    <table class="table">
        <thead>
        <tr>
            <th>
                Category name
            </th>
            <th>
                Category is active
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var category in Model) {
            <tr>
                <td>
                    @category.Name
                </td>
                @if (@category.IsActive)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
                <td>
                    <a onclick="createEditCategory('@category.CategoryId')">Edit</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="col-md-6" id="create-edit-category">
    @{
        Html.RenderPartial("_CategoryCreateEditPartial", new Category());
    }
</div>