@using System.Collections.Generic
@model ICollection<HäggesPizzeria.Models.OrderedDish>

@if (Model != null && Model.Count >= 1)
{
    <div>
        @foreach (var dish in @Model)
        {
            <div>
                @dish.Name
                <a asp-action="RemoveDishFromCart" asp-route-guid="@dish.Guid">Remove dish from cart</a>
                <a asp-action="DishDetails" asp-route-guid="@dish.Guid">Edit ingredients</a>
            </div>
        }
    </div>
    <div>
        <a asp-controller="Order" asp-action="Create">Buy</a>
    </div>  
}
else
{
    <div>Cart is empty</div>
}