@using HäggesPizzeria.Services
@using Microsoft.AspNetCore.Mvc.Rendering
@using HäggesPizzeria.Models.IngredientViewModels
@model HäggesPizzeria.Models.OrderedDish
@inject HäggesPizzeria.Services.IngredientService IngredientService

@{
    ViewData["Title"] = "CartDishDetails";
}

<div class="col-md-6">
    <h2>Edit your dish</h2>
    <h4>@Model.Name</h4>
    <div id="base-dish-ingredients">
        @{
            Html.RenderPartial("_IngredientPartial", new IngedientDishViewModel
            {
                DishName = Model.Name,
                Ingredients = IngredientService.GetAllUsedIngredients(Model.Ingredients),
                IsOrderedDish = true
            });
        }
    </div>
    <div>
        
    </div>
</div>   

