@model CartDetails

<i class="fa fa-shopping-cart" aria-hidden="true"></i>
<div>cart price @Model.TotalPrice</div>
<div>cart items @Model.Items</div>
<div>cart baseprice @Model.BaseDishesPrice</div>
<div>cart addedprice @Model.AddedIngredientsPrice</div>