@model CartDetails
    
<div>cart price @Model.TotalPrice</div>
<div>cart items @Model.Items</div>
<div>cart baseprice @Model.BaseDishesPrice</div>
<div>cart addedprice @Model.AddedIngredientsPrice</div>